*.~undo-tree~
*.log
*.log,*
*.dml
*.pdf
*.docx
*.xml
*.iml
*.std
*.jrl
*.jrl,*
*.do
*.did
*.html
*.cfg
*.cfg,*
*.DSNlck
*.OLBlck
*.DBK
*.OBK
*.bmp
*.png
*.txt
*.txt,*
*.DRC
*.PRP
*.XRF
*.dat*
*.lst
*.ps
*.rpt
*.drl
*.scr
*.art
*,1
*.sum
Release/*
*.out
*.cplida
*.impida
*.SAV
*.swp
*AUTOSAVE.brd*
*.dmp
*.dra,2
